@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* color */
  --color-primary: #7b4ae2;
  --color-light-primary: #e3e4fb;

  --color-background: #fffef9;
  --color-background-blur: #e3e4fb;

  --color-dark-primary: #7b4ae2;
  --color-dark-background: #090e16;

  --animate-ping-large: ping-large 2s ease-in-out infinite;

  @keyframes ping-large {
    55%,
    75%,
    100% {
      transform: scale(1.4);
      opacity: 0;
    }
  }
  --animate-move-left: move-left 1s linear infinite;

  @keyframes move-left {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }
}
@layer base {
  .hero-ring {
    @apply absolute inset-0 border-2 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full;
  }
}

@layer utilities {
  .animate-in {
    animation-fill-mode: both;
  }

  .slide-in-from-top {
    animation-name: slideInFromTop;
  }

  .slide-in-from-bottom {
    animation-name: slideInFromBottom;
  }

  .duration-300 {
    animation-duration: 300ms;
  }
  .duration-700 {
    animation-duration: 700ms;
  }
  .delay-100 {
    animation-delay: 100ms;
  }
  .delay-200 {
    animation-delay: 200ms;
  }
  .delay-300 {
    animation-delay: 300ms;
  }
  .animate-text {
    animation-name: fadeIn;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInFromTop {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInFromBottom {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
